@media (max-width: 576px) {
  .header .row {
    flex-direction: column-reverse;
  }
  h1 {
    font-size: 50px;
  }
  img.img-bg {
    height: 440px;
  }
  .header .text-style {
    text-align: center;
  }
}
